body {
    margin: 0;
    padding: 0;
    background-color: wheat;
}

menu {
    display: block;
    background-color: #5B85B9;
    color: rgba(255, 255, 255, 0.733);
    margin-top: 0px;
    padding: 10px;
    position: sticky;
    top: 0;
}

menu titulo {
    font-size: clamp(16px, 7.5vw, 75px);
    font-weight: bolder;
    margin-left: 15px;
}

menu a {
    font-size: clamp(8px, 3.5vw, 24px);
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-left: 9vw;
}

menu a.primer.boton {
    margin-left: 6vw;
}

img.logo {
    height: clamp(35px, 6vw, 100px);
    width: clamp(35px, 7vw, 100px);
    margin-left: 5vw;
}

#slider-imagenes {
    width: 75vw;
    height: 34vw;
    margin-left: 12.5vw;
}

informacion h1, informacion h2, informacion p {
    font-weight: bold;
    margin: 0;
}

informacion h1 {
    margin-left: 5vw;
}

informacion h2 {
    margin-top: 2.5vw;
    margin-bottom: 2vw;
    margin-left: 2vw;
}

informacion p {
    margin-left: 1vw;
    margin-right: 1vw;
}

faq {
    font-size: 125%;
}